client
csv_files/original_train.csv
csv_files/random_forest*
notebooks/fi*
notebooks/LIME*
notebooks/P7_PLE.ipynb
notebooks/notebook-home-credit-default-risk.ipynb
notebooks/NB_for_streamlit.ipynb
notebooks/Final_P7.ipynb
notebooks/start*
Projet+Mise+en+prod+-+home-credit-default-risk.zip
Projet+Mise+en+prod+-+home-credit-default-risk
models/LGBM_model_old.pkl
venv
app.py
my_functions/__pycache__/functions.cpython-38.pyc
notebooks/__pycache__/
notebooks/Projet_7-Brouillon.ipynb
.idea/
.ipynb_checkpoints/

